@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: white; /* 기본 배경색 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Sogang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
